<section class="bg-image" style="background-image:url('<%= image_url('bg-image-4.png') %>');">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-8 wow animate__fadeIn">
        <div class="transparent-box font-weight-500 text-medium text-white-2 text-center last-paragraph-no-margin">
          <div class="padding-four-all">
            <h5 class="font-weight-700 text-white-2 line-height-normal"><%= t('services.brand_impact.title') %></h5>
            <p><%= t('services.brand_impact.desc') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
