<section class="wow animate__fadeIn">
    <div class="container cover-background border-radius-20" style="background-image:url('<%= image_url('bg-image-3.png') %>');">
        <div class="row">
          <div class="col-lg-4 padding-three-all lg-padding-two-all sm-padding-15px-all d-none d-md-block wow animate__fadeInUp" data-wow-delay="0.4s">
            <%= image_tag('prisma.png') %>
          </div>
          <div class="col-lg-8 d-flex flex-column justify-content-center align-items-start last-paragraph-no-margin text-white-2 md-h-450px sm-h-100 padding-six-lr padding-five-half-tb lg-padding-four-lr md-padding-ten-half-tb md-padding-twelve-half-lr sm-padding-15px-lr wow animate__fadeIn" data-wow-delay="0.2s">
            <div class="transparent-box padding-six-all">
              <h5 class="font-weight-600"><%= t('services.why_choose_prisma.title') %></h5>
              <span class="text-medium font-weight-500 d-inline-block"><%= t('services.why_choose_prisma.desc') %></span>
            </div>
          </div>
        </div>
    </div>
</section>
