<section class="wow animate__fadeIn last-paragraph-no-margin">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 align-items-center">
            <div class="col sm-margin-15px-bottom">
              <span class="title-small font-weight-600 d-block"><%= t('prisma.advertising.about') %></span>
            </div>
            <div class="col">
              <p class="w-90"><%= t('prisma.advertising.desc') %></p>
            </div>
        </div>
    </div>
</section>
