<div class="container-xl">
	<div class="row justify-content-start align-items-center wow animate__fadeIn">
		<div class="col-6 col-lg-7 text-gray">
			<h5 class="font-weight-800 mb-4"><%= snippet.title %></h5>
		</div>
	</div>
	<div class="row">
		<div class="col-12 blog-content no-padding-lr">
			<ul class="hover-option4 blog-post-style3 blog-grid blog-wrapper grid grid-4col xl-grid-4col lg-grid-4col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large">
				<li class="grid-sizer"></li>
				<!-- start post item -->
				<li class="grid-item last-paragraph-no-margin text-start wow animate__fadeInUp">
					<div class="blog-post bg-light-grey border-radius-10">
						<div class="post-details padding-40px-all md-padding-20px-all">
							<h6 class="alt-font post-title font-weight-600 text-extra-dark-gray d-block margin-10px-bottom sm-margin-5px-bottom">Roderick de Greef*</h6>
							<span class="post-author text-small text-extra-dark-gray text-uppercase d-block margin-20px-bottom sm-margin-10px-bottom">Director</span>
							<div class="separator-line-horrizontal-full bg-grey margin-20px-bottom w-100"></div>
							<span class="alt-font post-title font-weight-400 text-extra-dark-gray d-block margin-10px-bottom sm-margin-5px-bottom">Audit Committee</span>
							<span class="post-author text-small text-extra-dark-gray text-uppercase d-block margin-20px-bottom sm-margin-10px-bottom">Committee Chair</span>
							<span class="alt-font post-title font-weight-400 text-extra-dark-gray d-block margin-10px-bottom sm-margin-5px-bottom">Nominating & Corporate<br/>Governance Committee</span>
							<span class="post-author text-small text-extra-dark-gray text-uppercase d-block margin-20px-bottom sm-margin-10px-bottom">Committee Member</span>
							<span class="post-author text-small text-extra-dark-gray text-uppercase d-block margin-20px-bottom sm-margin-10px-bottom">*Audit Committee Financial Expert</span>
						</div>
					</div>
				</li>
				<!-- end post item -->
				<!-- start post item -->
				<li class="grid-item last-paragraph-no-margin text-start wow animate__fadeInUp">
					<div class="blog-post bg-light-grey border-radius-10">
						<div class="post-details padding-40px-all md-padding-20px-all">
							<h6 class="alt-font post-title font-weight-600 text-extra-dark-gray d-block margin-10px-bottom sm-margin-5px-bottom">Tamba P.Hutapea</h6>
							<span class="post-author text-small text-extra-dark-gray text-uppercase d-block margin-20px-bottom sm-margin-10px-bottom">Director</span>
							<div class="separator-line-horrizontal-full bg-grey margin-20px-bottom w-100"></div>
							<span class="alt-font post-title font-weight-400 text-extra-dark-gray d-block margin-10px-bottom sm-margin-5px-bottom">Compensation Committee</span>
							<span class="post-author text-small text-extra-dark-gray text-uppercase d-block margin-20px-bottom sm-margin-10px-bottom">Committee Member</span>
							<span class="alt-font post-title font-weight-400 text-extra-dark-gray d-block margin-10px-bottom sm-margin-5px-bottom">Nominating & Corporate<br/>Governance Committee</span>
							<span class="post-author text-small text-extra-dark-gray text-uppercase d-block margin-20px-bottom sm-margin-10px-bottom">Committee Chair</span>
						</div>
					</div>
				</li>
				<!-- end post item -->
				<!-- start post item -->
				<li class="grid-item last-paragraph-no-margin text-start wow animate__fadeInUp">
					<div class="blog-post bg-light-grey border-radius-10">
						<div class="post-details padding-40px-all md-padding-20px-all">
							<h6 class="alt-font post-title font-weight-600 text-extra-dark-gray d-block margin-10px-bottom sm-margin-5px-bottom">Benny Dharmawan</h6>
							<span class="post-author text-small text-extra-dark-gray text-uppercase d-block margin-20px-bottom sm-margin-10px-bottom">Director</span>
							<div class="separator-line-horrizontal-full bg-grey margin-20px-bottom w-100"></div>
							<span class="alt-font post-title font-weight-400 text-extra-dark-gray d-block margin-10px-bottom sm-margin-5px-bottom">Audit Committee</span>
							<span class="post-author text-small text-extra-dark-gray text-uppercase d-block margin-20px-bottom sm-margin-10px-bottom">Committee Member</span>
							<span class="alt-font post-title font-weight-400 text-extra-dark-gray d-block margin-10px-bottom sm-margin-5px-bottom">Nominating & Corporate<br/>Governance Committee</span>
							<span class="post-author text-small text-extra-dark-gray text-uppercase d-block margin-20px-bottom sm-margin-10px-bottom">Committee Member</span>
							<span class="alt-font post-title font-weight-400 text-extra-dark-gray d-block margin-10px-bottom sm-margin-5px-bottom">Compensation Committee</span>
							<span class="post-author text-small text-extra-dark-gray text-uppercase d-block margin-20px-bottom sm-margin-10px-bottom">Committee Chair</span>
						</div>
					</div>
				</li>
				<!-- end post item -->
				<!-- start post item -->
				<li class="grid-item last-paragraph-no-margin text-start wow animate__fadeInUp">
					<div class="blog-post bg-light-grey border-radius-10">
						<div class="post-details padding-40px-all md-padding-20px-all">
							<h6 class="alt-font post-title font-weight-600 text-extra-dark-gray d-block margin-10px-bottom sm-margin-5px-bottom">Mochtar Hussein</h6>
							<span class="post-author text-small text-extra-dark-gray text-uppercase d-block margin-20px-bottom sm-margin-10px-bottom">Director</span>
							<div class="separator-line-horrizontal-full bg-grey margin-20px-bottom w-100"></div>
							<span class="alt-font post-title font-weight-400 text-extra-dark-gray d-block margin-10px-bottom sm-margin-5px-bottom">Audit Committee</span>
							<span class="post-author text-small text-extra-dark-gray text-uppercase d-block margin-20px-bottom sm-margin-10px-bottom">Committee Member</span>
							<span class="alt-font post-title font-weight-400 text-extra-dark-gray d-block margin-10px-bottom sm-margin-5px-bottom">Compensation Committee</span>
							<span class="post-author text-small text-extra-dark-gray text-uppercase d-block margin-20px-bottom sm-margin-10px-bottom">Committee Member</span>
						</div>
					</div>
				</li>
				<!-- end post item -->

			</ul>
		</div>
</div>
