<%- text_color, btn_color = get_prisma_element_colors('bg-green') -%>
<%- text_width = "w-100" -%>
<%- text_width = snippet.css_title unless snippet.css_title.blank? -%>
<%- header_tag = "h3" -%>
<%- header_tag = snippet.title_tag unless snippet.title_tag.blank? -%>
<%- link_buttons = snippet.link_buttons -%>
<%- margin_button = 'margin-10px-right' if link_buttons.size > 1 -%>
<div class="container">
	<div class="row <%= text_color %>">
		<div class="col-md-8 last-paragraph-no-margin sm-margin-30px-bottom wow animate__fadeInLeft">
      <%= content_tag(header_tag.to_sym, snippet.title, class: "font-weight-600 margin-10px-bottom #{text_width}") unless snippet.title.blank? %>
			<% unless snippet.short_description.blank? %>
				<%= raw snippet.short_description %>
			<% end %>
		</div>
		<div class="col-md-4 d-flex justify-content-start justify-content-md-end align-items-center sm-no-margin-bottom wow animate__fadeInRight">
			<div>
				<% link_buttons.each_with_index do |link_button, index| %>
					<%= render_link_text_url(link_button, "btn btn-medium btn-rounded btn-border #{btn_color} #{margin_button if index == 0}") %>
				<% end %>
			</div>
		</div>
	</div>
</div>
