<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-8 wow animate__fadeIn">
      <div class="transparent-box font-weight-500 text-medium text-white-2 text-center last-paragraph-no-margin">
        <div class="padding-four-tb padding-eight-lr">
          <h4 class="font-weight-700 text-white-2 line-height-normal"><%= snippet.title %></h4>
          <p class="font-weight-700"><%= snippet.short_description %></p>
          <p><%= snippet.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>
