<div class="w-100 sm-w-100">
	<% unless snippet.short_description.blank? %>
		<div class="info_short_desc last-paragraph-no-margin">
			<%= raw snippet.short_description %>
		</div>
	<% end %>
	<% unless snippet.description.blank? %>
		<div class="info_desc last-paragraph-no-margin">
			<%= raw snippet.description %>
		</div>
	<% end %>
	<% snippet.link_buttons.each do |link_button| %>
    <div class="margin-40px-top">
      <%= render_link_text_url(link_button, "btn btn-medium #{btn_color} btn-rounded margin-20px-bottom d-block w-fit-content") %>
    </div>
	<% end %>
</div>
