<%= content_for :head do %>
	<script src="https://www.google.com/recaptcha/api.js?render=<%= ENV['RECAPTCHA_V3_SITE_KEY'] %>"></script>
<% end %>

<div class="container-xl">
	<div class="row">
		<div id="investorInquiryForm" class="col-12 padding-50px-all sm-padding-30px-all">
			<%= render "investor_inquiries/form" %>
		</div>
	</div>
</div>
