<div class="container-fluid no-padding-lr bg-green">
	<div class="scroll-box d-flex justify-content-center align-items-center text-start text-md-center">
		<div class="marquee scroll-text text-white-2">
      Powering Progress, Nurturing Nature: <br/>Our Energy, Your Future
		</div>
	</div>
</div>

<%= content_for :tail do %>
	<%= javascript_include_tag "jquery.marquee.min.js" %>
	<script>
		jQuery(document).ready(function($){
			// $('.marquee').marquee({
			// 	speed: 150,
			// 	gap: 100,
			// 	delayBeforeStart: 0,
			// 	direction: 'left',
			// 	duplicated: true,
			// 	pauseOnHover: true
			// });
		});
	</script>
<% end %>
