<div class="container">
  <div class="row justify-content-start align-items-center wow animate__fadeIn">
    <div class="col-6 col-lg-7">
      <h3 class="font-weight-800 text-uppercase mb-2"><%= snippet.title %>:</h3>
      <h3 class="font-weight-800 text-uppercase <%= snippet.css_title %>"><%= snippet.caption %></h3>
      <div class="mb-0"><%= raw snippet.short_description %></div>
    </div>
  </div>
</div>
