<!-- start page single banner -->
<section class="p-0 single-banner parallax" data-parallax-background-ratio="0.5" style="background-image:url('<%= url_for(banner.image) if banner.image.attached? %>');">
  <div class="opacity-medium bg-transparent-black z-index-0"></div>
	<div class="full-screen text-white-2">
		<div class="container position-relative h-100">
			<div class="row h-100 align-items-center">
				<div class="col-xl-10 col-md-10">
          <span class="d-block mb-2"><%= t('portfolios.title') %></span>
					<h2 class="font-weight-600 text-white-2 alt-font w-90"><%= raw banner.title %></h2>
          <div class="text-start w-50 sm-w-100"><%= raw banner.description %></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end page single banner -->
