<%= render "shared/setting_banners" %>

<%- unless @page.content.blank? -%>
	<section class="half-section">
		<div class="container-xl">
			<div class="row">
				<div class="col-md-12">
					<h3 class="font-weight-320 text-uppercase"><%= @page.title %></h3>
					<%= raw @page.content %>
				</div>
			</div>
		</div>
	</section>
<%- else -%>
  <%= render "sections", sections: @sections %>
<%- end -%>

