<%= render "shared/setting_banners" %>
<%= render "contact_form" %>

<section class="wow animate__fadeIn last-paragraph-no-margin">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 align-items-start">
            <div class="col sm-margin-15px-bottom">
              <span class="title-small font-weight-500 alt-font w-90 lg-w-95 md-w-100 d-block mb-4">
                PT. Prisma Harapan
              </span>
              <p class="d-block text-medium"><%= raw @address.complete_address %></p>
            </div>
            <div class="col sm-margin-15px-bottom">
                <strong class="font-weight-400 margin-10px-bottom d-block alt-font">Business Hours:</strong>
                <p>08.30–17.30</p>
                <strong class="font-weight-400 margin-10px-bottom d-block alt-font">Telephone:</strong>
                <p class="mb-2">+62 21 5835 6575 (Hunting)</p>
                <p>+62 21 5835 6570</p>
            </div>
            <div class="col">
                <strong class="font-weight-400 margin-5px-bottom d-block alt-font mb-2">Email:</strong>
                <span class="text-medium font-weight-400 d-block mb-1">Layanan Terbaru & Penawaran Khusus</span>
                <span class="text-medium d-block mb-3"><a href="mailto:sales@prisma-ads.com">sales@prisma-ads.com</a></span>
                <span class="text-medium font-weight-400 d-block mb-1">Kerjasama & Kualitas Layanan</span>
                <span class="text-medium d-block mb-3"><a href="mailto:info@prisma-ads.com">info@prisma-ads.com</a></span>
                <span class="text-medium font-weight-400 d-block mb-1">Lowongan Pekerjaan</span>
                <span class="text-medium d-block"><a href="mailto:hrd.recruitment@prisma-ads.com">hrd.recruitment@prisma-ads.com</a></span>
            </div>
        </div>
    </div>
</section>

<%= render "map_section" %>
