<!-- start page single banner -->
<section class="p-0 single-banner parallax" data-parallax-background-ratio="0.5" style="background-image:url('<%= url_for(@product.banner) if @product.banner.attached? %>');">
  <div class="opacity-medium bg-transparent-black z-index-0"></div>
	<div class="full-screen text-white-2">
		<div class="container position-relative h-100">
      <div class="row h-100 align-items-center">
				<div class="col-xl-10 col-md-10 margin-30px-bottom">
          <span class="d-block mb-2"><%= t('product') %></span>
					<h2 class="font-weight-600 text-white-2 alt-font w-90"><%= @product.name %></h2>
          <div class="d-flex flex-wrap gap-2 mt-4">
            <% if @product.product_category %>
              <span class="btn btn-medium btn-rounded btn-border btn-transparent-prisma"><%= @product.try(:product_category).try(:name) %></span>
            <% end %>
          </div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end page single banner -->
