<section class="half-section pb-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-8 d-flex justify-content-center align-items-center order-2 order-md-1 wow animate__fadeInLeft" data-wow-delay="0.1s">
        <div class="w-95 sm-w-100 text-center text-md-start">
          <div class="last-paragraph-no-margin margin-25px-bottom">
            <%= raw @product.description %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
